:root {
  --background-color: linear-gradient(#151531, #421a92); 
}

.main-header {
  font-size: 36px;
  text-align: center;
  color: whitesmoke;
  // background: linear-gradient(#EC1D24 79%, #f88686 21%);
  margin: 16px;
  font-family: 'Marvel';
}