:root {
  --background-color: linear-gradient(#151531, #421a92); 
}

.main-header {
  font-size: 36px;
  text-align: center;
  color: whitesmoke;
  background-color: #EC1D24;
  margin: 16;
  font-family: 'Marvel';
}