.catalog-view {
    background: whitesmoke !important;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 700;
    text-align: justify;
    box-shadow: 0px 0px 1px 2px #8f61eb77;
    border-radius: 8px;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 16px;
    margin: 8px;
    z-index: 0;
    min-width: 426px;
    max-width: 426px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0px 0px 32px 8px rgb(75, 68, 90);
      z-index: 100;
    }
    .image-container {
        background-position: center center;
        background-repeat: no-repeat ;
        background-size: cover;
        border-radius: 16px;
        width: 360px;
        height: 360px;
    }
}  